@media screen and (max-width: 875px) {
  .flight {
    max-height: none;
    overflow-y: visible;
  }
}

.flight {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 80vh;
  min-width: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px;
  scroll-behavior: smooth;
}

.flight div {
  background-color: white;
  border: 1px solid #ddd;
  padding: 15px;
  margin: 10px;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
