.SearchForm {
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 900px;
  margin: 0px 20px 0px 20px;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  width: 100%;
}

form > * {
  flex: 1 1 250px;
  min-width: 200px;
}
